.forgotPasswordModal {
	position: relative;
	text-align: left;
	.email {
		position: relative;
		display: flex;
		flex-direction: column;
		width: 100%;
		margin-bottom: 1rem;
		label {
			margin-bottom: 0.5rem;
		}
		input {
			padding: 0.5rem;
			width: 100%;
		}
		.error {
			text-align: left;
			color: rgb(204, 13, 13);
			font-size: 0.8rem;
			margin-top: 1rem;
		}
	}
	form {
		margin-top: 1.5rem;
	}
	img {
		position: absolute;
		width: 30px;
		top: -3px;
		right: 0px;
	}
	button {
		width: 100%;
	}
}
.btnSpinner {
	position: absolute;
	border-color: white;
}
