@import '@/styles/variables.scss';
.forgotPasswordModal {
  position: relative;
  text-align: left;
  .email {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 1rem;
    label {
      margin-bottom: 0.5rem;
    }
    input {
      padding: 0.5rem;
      width: 100%;
    }
    .error {
      text-align: left;
      color: rgb(204, 13, 13);
      font-size: 0.8rem;
      margin-top: 1rem;
    }
  }
  form {
    margin-top: 1.5rem;
  }
  .cross {
    position: absolute;
    width: 30px;
    top: -3px;
    right: 0px;
  }
  button {
    width: 100%;
    height: 51px;
    position: relative;
    .btnSpinner {
      height: 40px;
      width: 40px;
      top: 6px;
      left: 43.5%;
    }
    &:disabled {
      background-color: rgba(36, 165, 240, 0.2);
    }
  }
  .resetSent {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin-top: 2rem;
    .done {
      width: 80px;
      border: 5px solid $btn-color-bg;
      filter: invert(66%) sepia(97%) saturate(3390%) hue-rotate(174deg)
        brightness(96%) contrast(96%);
      border-radius: 50%;
      padding: 0.5rem;
    }
  }
}
