@import '@/styles/variables.scss';
.orderDetails {
  position: relative;
  width: 100%;
  z-index: 999;
  background-color: $bg-color-primary;
  border-bottom: 0.5px solid $border-color-primary;
  margin: -92px 0 2rem;

  .info {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    width: 100%;
    background-color: $bg-color-primary;
    z-index: 100;
    h2 {
      cursor: pointer;
    }
    .total {
      text-align: center;
    }
    img {
      position: absolute;
      width: 30px;
      cursor: pointer;
      &.active {
        transform: rotate(180deg);
      }
    }
  }
  .detailedOrder {
    position: absolute;
    bottom: 0;
    transform: translateY(-100%);
    width: 100%;
    padding: 2rem;
    z-index: 50;
    transition: 0.5s;
    background-color: $bg-color-primary;
    &.active {
      transform: translateY(90%);
    }
  }
}
