@import '@/styles/variables.scss';
.team {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  padding: 2rem;
  text-align: center;
  h1 {
    font-size: $h1-size;
  }
  .membersList {
    @include flexCenter;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 4rem;
    .member {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      max-width: 300px;
      p {
        color: $text-color-tertiary;
      }
    }
    .icons {
      margin: 0 auto;
    }
  }
}

@media (min-width: $media-md) {
  .team {
    padding: $padding-page-containers;
    .membersList {
      flex-direction: row;
      gap: 4rem;
    }
  }
}
