@import '@/styles/variables.scss';
.team {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  padding: 3rem;
  text-align: center;
  h1 {
    font-size: $h1-size;
  }
  .member {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    p {
      color: $text-color-tertiary;
    }
  }
  .icons {
    margin: 0 auto;
  }
}
