$bg-color-primary: hsl(0, 0%, 100%);
$bg-color-secondary: hsla(0, 0%, 45%, 0.1);
$bg-color-tertiary: hsl(209, 65%, 47%);

$text-color-primary: hsl(0, 0%, 0%);
$text-color-secondary: hsl(0, 0%, 100%);
$text-color-tertiary: hsl(0, 0%, 45%);
$text-color-quaternary: hsl(202, 87%, 54%);
$text-color-error: rgb(204, 13, 13);

$h1-size: 2.8rem;

$border-color-primary: hsl(0, 0%, 45%);

$btn-color-bg: hsl(202, 87%, 54%);

$padding-page-containers: 3rem;

$media-sm: 640px;
$media-md: 768px;
$media-lg: 1024px;
$media-xl: 1280px;
$media-2xl: 1536px;

@mixin flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}
