@import '@/styles/variables.scss';
.navWrapper {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;

  .heading {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem;
    z-index: 100;
    background-color: $bg-color-primary;
    border-bottom: 1px solid gray;

    .headingLeftContainer {
      @include flexCenter;
      gap: 4rem;
      .desktopMenu {
        display: none;
        flex-direction: row;
        gap: 1.5rem;
      }
      h1 {
        font-size: 2.2rem;
        &:hover {
          transition: 0.2s;
          transform: translateY(-1px);
        }
        a {
          text-decoration: none;
          color: $text-color-primary;
        }
      }
    }

    .controls {
      display: flex;
      position: relative;
      p {
        position: absolute;
        z-index: 1000;
        background-color: $bg-color-tertiary;
        border-radius: 50%;
        height: 22px;
        width: 22px;
        display: flex;
        align-items: center;
        justify-content: center;
        top: -5px;
        right: 67px;
        color: white;
      }
      img {
        width: 2rem;
        margin-left: 6px;
        &:nth-child(1) {
          width: 29px;
        }
        &:hover {
          transition: 0.2s;
          transform: translateY(-1px);
          cursor: pointer;
        }
      }
      .hamburgerIconContainer {
        img {
          padding-top: 0.4rem;
          width: 34px;
        }
      }
    }
  }

  .mobileMenu {
    @include flexCenter;
    background-color: $bg-color-primary;
    flex-direction: column;
    position: absolute;
    bottom: 0;
    transform: translateY(-100%);
    width: 100%;
    gap: 1.5rem;
    padding: 2rem;
    z-index: 90;
    transition: 0.5s;
    &.active {
      transform: translateY(95%);
    }
  }

  @media (min-width: $media-lg) {
    .heading {
      .headingLeftContainer {
        .desktopMenu {
          @include flexCenter;
        }
      }
    }
    .controls {
      justify-self: end;
      .hamburgerIconContainer {
        display: none;
      }
    }
  }
}
