.reviews{
    display: grid;
    gap: 2rem;
    padding: 3rem 3rem 2rem;
    .review{
        .rating{
            display: flex;
            align-items: flex-end;
            margin-bottom: 1rem;
            gap: 0.6rem;
            .date{
                margin-bottom: 0.25rem;
            }
            .stars{
                display: flex;
                margin-bottom: 5px;
                img{
                    height: 1.2rem;
                }
            }}
    }

}