@import '@/styles/variables.scss';
.reviews {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  padding: 3rem 3rem 2rem;
  max-width: 600px;
  margin: 0 auto;
  .review {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    .left {
      display: flex;
      flex-direction: column;
      gap: 0.2rem;
      .rating {
        margin-left: -3px;
        img {
          height: 1.4rem;
        }
      }
    }
  }
}
