@import '@/styles/variables.scss';
.sponsors {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  padding: $padding-page-containers;
  background-color: $bg-color-secondary;
  text-align: center;
  .heading {
    h1 {
      font-size: $h1-size;
      margin-bottom: 1rem;
    }
    p {
      opacity: 0.9;
      line-height: 1.5;
    }
  }

  .icons {
    @include flexCenter;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 3.5rem;
    list-style: none;
    img {
      max-width: 100px;
    }
  }
}

@media (min-width: $media-md) {
  .sponsors {
    .icons {
      flex-direction: row;
    }
  }
}
