.bestseller{
    padding: 4rem;
    text-align: center;
    h3{
        color: var(--text-tertiary);
        font-weight: 300;
        margin-bottom: 1rem;
    }
    h2{
       text-transform: uppercase;
       margin-bottom: 1.5rem;
    }
    ul{
        display: grid;
        gap: 5rem;
        margin-bottom: 3rem;
    }
    .btn{
        background-color: white;
        color:  var(--btn-bg);
        border: 1px solid var(--btn-bg);
        text-transform: uppercase;
        font-size: 0.9rem;
    }
}
