@import '@/styles/variables.scss';
.specification {
  padding: $padding-page-containers;
  max-width: 600px;
  margin: 0 auto;
  ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    text-align: left;
    list-style: none;
    li {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      width: 70%;
    }
  }
}
