@import '@/styles/variables.scss';
.hero {
  position: relative;
  height: 80vh;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)),
    url('@/assets/img/home-hero/hero-girl.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 4rem;

  .carousel {
    min-height: 150px;
    max-width: 80%;
    overflow-wrap: break-word;
    .slide {
      display: flex;
      flex-direction: column;
      text-align: center;
      gap: 1rem;
      color: $text-color-secondary;
      opacity: 0;
      transition-duration: 0.2s ease;
      &.active {
        opacity: 1;
        transition-duration: 0.2s;
        transform: scale(1.08);
      }
      h1 {
        text-transform: uppercase;
        font-size: $h1-size;
      }
      p {
        line-height: 1.8rem;
      }
    }
  }
  img {
    filter: invert(1);
    transform: 0.15s;
  }
  .carouselContainerLeft {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 0;
    width: 30%;
    height: 100%;
    cursor: pointer;
    &:hover {
      transition: 0.2s;
      transform: scale(1.06);
    }
  }

  .carouselContainerLeft,
  .carouselContainerRight {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    cursor: pointer;
  }

  .carouselLeft {
    transform: scale(-1);
  }

  .carouselContainerRight {
    right: 0;
    width: 30%;
  }

  .carouselContainerLeft {
    left: 0;
    width: 30%;
  }
}

.carouselContainerLeft:hover,
.carouselContainerRight:hover {
  transition: 0.2s;
  transform: scale(1.03);
}

@media (min-width: $media-sm) {
  .hero {
    height: 60vh;
  }
}
