.heading {
  padding: 0 2rem;
  max-width: 600px;
  margin: 0 auto;
}
.paymentForm {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 2rem;
  max-width: 600px;
  margin: 0 auto;
  padding-bottom: 4rem;
  .cardData {
    display: flex;
    gap: 1rem;
    .exp {
      width: 55%;
      input {
        width: 100%;
      }
    }
    .ccv {
      width: 45%;
      input {
        width: 100%;
      }
    }
  }
  input {
    padding: 0.5rem;
  }
  .btn {
    width: 100%;
  }
  .error {
    color: rgb(204, 13, 13);
    font-size: 0.8rem;
  }
}
