.categories{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 4rem 2rem;
    background-color: var(--bg-secondary);
    .category{
        position: relative;
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        padding: 2rem;
        min-height: 250px;
        overflow: hidden;
        h2, p{
            max-width: 70%;
        }
        a{
            text-decoration: none;
            font-weight: bold;
        }
        p:nth-of-type(1){
            font-weight: bold;
        }
        a,p{
            font-size: 0.9rem;
        }
        img{
            position: absolute;
        }
    }
    .category:nth-of-type(1){
        background:
        linear-gradient(
          rgba(245, 242, 242, 0.8), 
          rgba(255, 255, 255, 0.8)
        ), url(../../../assets/img/home-categories/pc-bg.jpg);
        .alert{
            color: rgb(231, 124, 64);
        }
        a{
            color: var(--text-primary)
        }
        img{
            top: -7.5%;
            right: -103px;
        }
    }
    .category:nth-of-type(2){
    color: var(--text-secondary);
    background:
        linear-gradient(
            rgba(2, 130, 202, 0.8), 
            rgba(2, 130, 202, 0.8)
          ), url(../../../assets/img/home-categories/phones-bg.jpg);
          a{
            color: white;
        }
        img{
            top: -5%;
            right: -50px;
        }
    }
}