@import '@/styles/variables.scss';
.item {
  padding: 6rem 2rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 500px;
  margin: 0 auto;
  img {
    width: 100%;
    max-width: 300px;
    max-height: 300px;
    margin: 0 auto;
  }
  .description {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 0.5rem;

    .info {
      h3 {
        margin-bottom: 0.5rem;
      }
      .rating {
        display: flex;
        align-items: center;
        gap: 1rem;
        margin-left: -0.5rem;
      }
      p {
        font-weight: bold;
        color: $text-color-tertiary;
        font-size: 0.9rem;
        width: 40%;
        text-align: right;
      }
    }
  }
  .price {
    font-weight: bold;
    font-size: 1.4rem;
    margin-bottom: 0.5rem;
  }
  .availability {
    font-weight: bold;
    color: $text-color-quaternary;
    span {
      color: $text-color-tertiary;
    }
  }
  .text {
    color: $text-color-tertiary;
    border-bottom: 1px solid $border-color-primary;
    padding-bottom: 1rem;
  }
  .colors {
    display: flex;
    gap: 0.7rem;
    .color {
      border-radius: 50%;
      width: 25px;
      height: 25px;
      border: 0.1px solid rgba(0, 0, 0, 0.3);
      cursor: pointer;

      &.active {
        transform: scale(1.1);
        box-shadow: 2px 2px 5px #130627;
      }
    }
  }
}

@media (min-width: $media-md) {
  .item {
    max-width: 1100px;
    flex-direction: row;
    img {
      max-width: 400px;
      max-height: 400px;
    }
    .description {
      width: 50%;
    }
    .addButton {
      &:active {
        transform: scale(1.05);
      }
    }
  }
}
