@import '@/styles/variables.scss';

.categories {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 6rem 2rem;
  .category {
    position: relative;
    display: grid;
    overflow: hidden;
    gap: 1.5rem;
    padding: 2rem;
    height: 250px;
    width: 300px;
    h2,
    p {
      max-width: 70%;
      &:nth-of-type(1) {
        font-weight: bold;
      }
    }
    a,
    p {
      font-size: 0.9rem;
    }
    a {
      text-decoration: none;
      font-weight: bold;
      &:hover {
        cursor: pointer;
        transition: 0.2s;
        transform: translateY(-1px);
      }
    }

    img {
      position: absolute;
    }
  }
  .smartwatchCategory {
    background: linear-gradient(
        rgba(245, 242, 242, 0.8),
        rgba(255, 255, 255, 0.8)
      ),
      url(@/assets/img/home-categories/pc-bg.webp);
    .alert {
      color: rgb(231, 124, 64);
    }
    a {
      color: $text-color-primary;
    }
    img {
      top: -7.5%;
      right: -115px;
    }
  }
  .phoneCategory {
    color: $text-color-secondary;
    background: linear-gradient(rgba(2, 130, 202, 0.8), rgba(2, 130, 202, 0.8)),
      url(@/assets/img/home-categories/phones-bg.webp);
    a {
      color: white;
    }
    img {
      top: -5%;
      right: -60px;
    }
  }
}
@media (min-width: $media-sm) {
  .categories {
    flex-direction: row;
    gap: 5rem;
    .category {
      width: 450px;
    }
  }
}
@media (min-width: $media-lg) {
  .categories {
    .category {
      overflow: visible;
    }
    .smartwatchCategory {
      img {
        top: -10%;
        right: 0%;
      }
    }
    .phoneCategory {
      img {
        right: 0%;
      }
    }
  }
}
