.controls {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  gap: 2rem;
  button {
    font-size: 1rem;
    border: 0;
    background-color: var(--text-secondary);
    &.active {
      font-weight: bold;
      border-bottom: 1px solid grey;
    }
  }
}
