@import '@/styles/variables.scss';
footer {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 2rem;
  padding: 5rem 3rem 3rem;
  h2 {
    text-transform: capitalize;
  }
  p {
    color: $text-color-tertiary;
  }
  .rightContainer {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }

  .socials,
  .info,
  .features {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    div {
      margin: 0;
    }
    ul {
      display: grid;
      gap: 1rem;
      li {
        list-style: none;
        a {
          text-decoration: none;
          color: $text-color-tertiary;
          &:hover {
            color: $text-color-primary;
            transition: 0.2s;
            transform: translateY(-1px);
          }
        }
      }
    }
  }
}
@media (min-width: $media-md) {
  footer {
    .rightContainer {
      flex-direction: row;
      gap: 5rem;
    }
  }
}
@media (min-width: $media-lg) {
  footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 2rem;
    padding: 4rem 0 3rem;
  }
}
