footer {
  display: grid;
  gap: 2rem;
  padding: 3rem;
  h2 {
    text-transform: capitalize;
  }
  .socials,
  .info,
  .features {
    display: grid;
    gap: 1.5rem;
    div {
      margin: 0;
    }
    ul {
      display: grid;
      gap: 1rem;
      li {
        list-style: none;
        a {
          text-decoration: none;
          color: var(--text-tertiary);
        }
      }
    }
  }
}
