footer{
    display: grid;
    gap: 2rem;
    padding: 4rem;
    h3{
        text-transform: capitalize;
    }
    img{
        height: 30px;
        margin-right: 10px;
    }
    .socials, .info, .features{
        display: grid;
        gap: 1.5rem;
        ul{
            display: grid;
            gap: 1rem;
            a{
                text-decoration: none;
                color: var(--text-tertiary);
            }
        }
    }
}