li{
    flex-direction: column;
    list-style: none;
    .description{
        display: flex;
        flex-direction: column;
        gap: 0.7rem;
    }
    .price{
        color: green;
        font-weight: bold;
    }
    img{
        max-width: 100%;
    }
    .company{
        color: var(--text-tertiary);
    }
    .colors{
        display: flex;
        justify-content: center;
        gap: 0.7rem;
    }
    .color{
        border-radius: 50%;
        width: 16px;
        height: 16px;
    }
}