.product{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: white;
    border-radius: 0.5rem;
    padding: 1rem;
    img{
        max-width: 100%;
    }
    .company{
        color: var(--text-tertiary);
    }
    .price{
        color: green;
        font-weight: bold;
    }
}